<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="key1" value="o2tUMOkODE9hA5kvjjANZfUMq|NQAJiCJKtIAHHh1sB6SfoLnmXCnU6y0aBkxf9ShRyGz3J9os3e|3421384840-nMXEvElKMkJzdRMz6wc6WlkkaApmxGXRyy5VdVs|cMV6Ep7YyvX8sRJErJRECXluWvUBnd5MPrLJun4OiFP1a" />
    <add key="key2" value="RW1cM5XZxcYOxX6jfwvyiaQ5f|tMPSwTm8Nt2xORlJMhWpHOS6kuwykBAscJjuaPrMfOyuAhJox5|3421384840-6iMukx2bVGLrSbI2I5Z6pq6Yl6I8CUBXyugx4fo|Ssob8xneLwimSlRnNwSxHXAessidZtGr1qAYWJ67bhbNj" />
    <add key="key3" value="RW1cM5XZxcYOxX6jfwvyiaQ5f|tMPSwTm8Nt2xORlJMhWpHOS6kuwykBAscJjuaPrMfOyuAhJox5|3421384840-6iMukx2bVGLrSbI2I5Z6pq6Yl6I8CUBXyugx4fo|Ssob8xneLwimSlRnNwSxHXAessidZtGr1qAYWJ67bhbNj" />
    <add key="key4" value="vispVHANmFSw1yBjE4X87tZJg|QhTXU496wbn340FGWAnHQOdmChjAlqSnICmItBnhoyoebGyc1A|3421384840-ea70MplzaSuYX56fKLtmHdWJkaC1wVpFM6yvtRA|9uRU4TfgpwkR82fhQs7M5XX9p1Lwwd70ujUR8aGcFAJ5y" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>