<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="key1" value="o2tUMOkODE9hA5kvjjANZfUMq|NQAJiCJKtIAHHh1sB6SfoLnmXCnU6y0aBkxf9ShRyGz3J9os3e|3421384840-nMXEvElKMkJzdRMz6wc6WlkkaApmxGXRyy5VdVs|cMV6Ep7YyvX8sRJErJRECXluWvUBnd5MPrLJun4OiFP1a" />
    <add key="key2" value="RW1cM5XZxcYOxX6jfwvyiaQ5f|tMPSwTm8Nt2xORlJMhWpHOS6kuwykBAscJjuaPrMfOyuAhJox5|3421384840-6iMukx2bVGLrSbI2I5Z6pq6Yl6I8CUBXyugx4fo|Ssob8xneLwimSlRnNwSxHXAessidZtGr1qAYWJ67bhbNj" />
    <add key="key3" value="e2sQ44KFtwnAe7zP2nCorHprx|ssYTUX4gDXXe2MrjPOFm3vTCCsRT9DeAowShHsn0vX8YCaBOE7|3421384840-cCf7YZy8zsloPxRBoQj1pCK0BwbblNLKFb2n4hQ|pmlohIGajx0S6ypxFx58C8kTQt5z12CZfAIaQWMuGnF0U" />
    <add key="key4" value="vispVHANmFSw1yBjE4X87tZJg|QhTXU496wbn340FGWAnHQOdmChjAlqSnICmItBnhoyoebGyc1A|3421384840-ea70MplzaSuYX56fKLtmHdWJkaC1wVpFM6yvtRA|9uRU4TfgpwkR82fhQs7M5XX9p1Lwwd70ujUR8aGcFAJ5y" />
	<add key="key5" value="k0aT0q3djroO6Q4kzOH5cID7X|gTvqbs9JTNpFUAqmfjVM2xz35zzvpGBAnht0vDG4rFYY2k2yFf|3421384840-RgkR7tTKxyGjX7b9tUU01nUVkCXqdJd01cHT4R5|ho93RFF6evI6dmUCnLSF58ZGP4FN5fyEd2vBydk96hZPA" />
	<add key="key6" value="CKxG53i5G8ajcyuAnhlNLn8pN|CswqidMkFUNAhMn3FCxCW1biuXtbRriVzlNBzhPsAlZAvls7Ks|3421384840-Q3fDnldJVJsvjY2gDcYFXPKn8dh1aRLqx5ibBOq|eBZ7cEvKKuD6iIBsYdz9G65Kf6UADsExqWeBkZ9GKRCxz" />
	<add key="key7" value="oApnayJcjb4OtRyPCh8W24r3F|LyPrZtBcBOd3KNzLVrQ4EFzMgUHJMjhqRCGJadGAHlTq7DWa1R|3421384840-mp9ubghp56lw24MsUhNn69DvaSYsHmfknDXYMM7|IgSziuDfE6nEZvqGiac3GngkyMcwv26aPczf2VYSqMPGK" />
	<add key="key8" value="MA3uFfSR9ySERwkiOKbfaJseR|HsBOA9eHkyha8AuROvQyGR6nyT8jOKHalit4qgRnKYH3zSc3zC|3421384840-iQVxQs9B0JkZRvv0KbuCoXLDH3uxF7lC5uHZrTo|OpdQ8hDt788siPIaaJUGzguTChrpEq327rhUXjSBpQV7G" />
	<add key="key9" value="YkXDs7tkSOvJ8SewQsrAaOp1O|laNXafTn2Ec0AU4hsPAdACKZIfSOlA8pFqDzj6Scmu2a3sBDuq|3421384840-0ROHiW8xHtt2lXrM6hKzc1Gr3j7jaDFbAPFhI0G|RJccqyEjSz3gEeFA7S2SVoFuk4jR0ZuEctXprBvtTBIWI" />
	<add key="key10" value="kCvK7xZGR1Pi0gNlF3u7Seeti|3vkixy4SnpqiMxmHtxeTrm2VqRcCVRulpxnNnucIprdFvZMipC|3421384840-UU3CUj9DGc0CXIwOXCaGuO5UjBnPfWcZeiHa90h|WcQIjxfIKdxqslK0QXMWOmg7CZ30O50ktWjcqyXNFsEvR" />
	<add key="key11" value="iudXcgSAYtPoOtyCCjc6oaqQt|IjmGgdn20Tb8mX58wkqCr4Ne2sA7Cziqf73bcaWBJkKMr9PyaK|3421384840-7xZsNiLlQESvbANHcuB35dBbDhpZdqDR8yRPSNK|En2oKT2BoRmH7CDpEcxPs4jZbprtN3wtXQ8CIMK43cnjO" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.18.0" newVersion="2.2.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>